<!DOCTYPE html>
<html>
<head>
  <title>This App is Amazing!</title>
</head>
<body>
<form action="/" method="post">
  <div>
    <input type="text" name="task"/>
  </div>
  <div>
    <button type="submit">create task!</button>
  </div>
</body>
</html>