<!DOCTYPE html>
<html>
  <head>
    <title>This App is Amazing!</title>
  </head>
  <body>
    <p>Welcome!</p>
    <a href="add_task">add a task</a><br>
    <% TASKS.each do |task| %>
      <%= task %> <br>
    <% end %>
  </body>
</html>